#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.completo{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.alerta{
  margin-top: 10px;
}

.eliminar{
 background-color: tomato;
}
.formulario{
display: flex;
flex-direction: column;
gap: 10px;
}

.listado{
  display: flex;
flex-direction: column;
gap: 10px;
}